* {
  margin: 0;
  padding: 0;
}
.container {
  width: 1440px;
  margin: 0 auto;
}
.harry {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3pc;
}
.block img {
  width: 300px;
  height: 370px;
}
.block {
  border: 2px solid red;
  margin-top: 2pc;
  align-items: center;
  text-align: center;
  font-family: sans-serif;
}
